
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <ng-container matColumnDef="file">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fayl </th>
    <td mat-cell *matCellDef="let document">
      <button mat-icon-button (click)="viewFile(document.fileUrl)">
        <mat-icon>attach_file</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="regNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Рег. № </th>
    <td mat-cell *matCellDef="let document"> {{ document.regNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="regDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата рег. </th>
    <td mat-cell *matCellDef="let document"> {{ document.regDate | date:'dd.MM.yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="outNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> № исх. док-та </th>
    <td mat-cell *matCellDef="let document"> {{ document.outNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="outDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата исх. док-та </th>
    <td mat-cell *matCellDef="let document"> {{ document.outDate | date:'dd.MM.yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="correspondent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Корреспондент </th>
    <td mat-cell *matCellDef="let document"> {{ document.correspondent }} </td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Тема </th>
    <td mat-cell *matCellDef="let document"> {{ document.subject }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действие </th>
    <td mat-cell *matCellDef="let document">
      <button mat-button color="primary" (click)="openDocumentForm(document)">Tahrirlash</button>
      <button mat-icon-button color="warn" (click)="deleteDocument(document.id || document._id)">
        <mat-icon>delete</mat-icon>
      </button>
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDocumentForm()"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>


<button mat-button extended color="primary" (click)="openDocumentForm()"> 
  <mat-icon>add</mat-icon> Добавлять 
</button>
